.see-all{
    width:20%;
    padding-left: 3%;
    padding-right: 10%;
    padding: 0;
    border: solid 2px black;
    margin:3px;
    border: solid 1px darkgreen;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
    margin-bottom: 3px;
    z-index: 1;
    float: right;
}

.accordion{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

ul.accordion{
    list-style:none;   
    position:absolute;
    right:80px;
    top:0px;
    font-size: 100%;
    font-style: italic;
    line-height: 1.5em;
}

@media only screen and (max-width: 760px) {
    ul.accordion{ 
        font-size: 80%;
    }
}

ul.accordion li{
    float:right;
    width:115px;
    height:480px;
    display:block;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
}
ul.accordion li.bg1{
    background-image:url(images/1.jpg);
}
ul.accordion li.bg2{
    background-image:url(images/2.jpg);
}
ul.accordion li.bg3{
    background-image:url(images/3.jpg);
}
ul.accordion li.bg4{
    background-image:url(images/4.jpg);
}
ul.accordion li.bleft{
    border-left:2px solid #fff;
}
ul.accordion li .heading{
    background-color:#fff;
    padding:30px;
    margin-top: 60px;
    opacity:0.9;
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size: 100%;
    color:#444;
    text-align:center;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion li .description{
    position:absolute;
    width:480px;
    height:175px;
    bottom:0px;
    left:10px;
    display:none;
    text-align: center;
}
ul.accordion li .description h2{
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size:45px;
    color:#444;
    text-align:left;
    margin:0px 0px 15px 20px;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion li .description p{
    line-height:14px;
    margin:10px 22px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.6em;
}
ul.accordion li .description a{
    position:absolute;
    bottom:5px;
    left:20px;
    text-transform:uppercase;
    font-style:normal;
    font-size:11px;
    text-decoration:none;
    color:#888;
}
ul.accordion li .description a:hover{
    color:#333;
    text-decoration:underline;
}

ul.accordion li .bgDescription{
    background:transparent url(images/bgDescription.png) repeat-x top left;
    height:340px;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    display:none;
}