.add-caption{
    position: absolute;
    margin-top: 140px;
    width: 60%;
    height: 70px;
    margin-left: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/pomidor.jpg);
    padding: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
    border: solid 2px black;
    box-shadow: 17px 14px 32px #000000;
    text-align: center;
}
/*œredni telefon lub IPad*/
@media only screen and (max-width: 760px) {
    .add-caption{ 
        width: 90%;
        margin-left: 5%;
        
    }
}

.add-caption-p{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: black;
}

/*œredni telefon lub IPad*/
@media only screen and (max-width: 760px) {
    .add-caption-p{ 
       font-size: 12px;
        
    }
}

.add-container{
    position: absolute;
    margin-top: 190px;;
    width: 60%;
    margin-left: 25%;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 6px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    border: solid 2px black;
    box-shadow: 17px 14px 32px #000000;
}

/*œredni telefon lub IPad*/
@media only screen and (max-width: 760px) {
    .add-container{ 
        width: 90%;
        margin-left: 5%;
        
    }
}

.add-name{
    width: 100%;
    margin:0;
    padding: 10px;
}

.add{
    margin: 10px;
    width: 90%;
    padding: 7px;
    box-shadow: 3px 3px 5px;
    border: solid black 1px;
    border-radius: 5px;
    float: none;
}

.add-quantity{
    margin: 10px;
    width: 90%;
    padding: 7px;
    box-shadow: 3px 3px 5px;
    border: solid black 1px;
    border-radius: 5px;
    float: none;
}

.add-unit{
    margin: 10px;
    width: 90%;
    padding: 7px;
    box-shadow: 3px 3px 5px;
    border: solid black 1px;
    border-radius: 5px;
    float: none;
}

.add-recipe-name{
    box-shadow: 3px 3px 5px;
    border: solid black 1px;
    margin: 10px;
    width: 90%;
    padding: 7px;
    border-radius: 5px;
}

.add-making{
    width: 100%;
}

.add-img{
    margin: 10px;
    width: 90%;
}

.remove-ingredient-recipe{
    width: 30%;
    float: right;
    padding:0;
    margin-left:10%;
    margin-right:10%;
    border: solid 1px darkgreen;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}

.add-ingredient-recipe{
    width: 30%;
    padding:0;
    margin-left:10%;
    margin-right:10%;
    float: left;
    border: solid 1px darkgreen;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}
.add-recipe{
    margin: 2%;
    width: 96%;
    padding: 7px;
    box-shadow: 3px 3px 5px;
    border: solid black 1px;
    border-radius: 5px;
    float: none;
    min-height: 60px;
}

.send-recipe{
    padding: 0;
    margin: 2px;
    border: 1px solid black;
    border-radius: 3px;
    width: 20%;
    margin-left: 70%;
    box-shadow: 3px 3px 5px;
}