body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/pomidor.jpg);
}

.cd-testimonials-all {
  position: absolute;
  top: 20px;
  left: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  z-index: 999999999;
  opacity: 1;
  padding: 2%;
}
 
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-testimonials-item{
    width: 27%;
    float: left;
    padding: 5px;
    background-color: wheat;
    margin: 2%;
}

.cd-testimonials-image{
    width: 100%;
}
.cd-testimonials-image-photo{
    width: 100%;
}

.close-modal-page{
    width: 20%;
    position: fixed;
    top: 0;
    left: 76%;
    padding:0;
    margin:3px;
    border: solid 1px darkgreen;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}

ul.cd-testimonials-recipe li{
    list-style: none;
    
}