.recipe-making{
    width: 60%;
    float: right;
    margin:0;
    padding: 3px;
}

.recipe-photo{
    width: 40%;
    margin:0;
    padding: 1px;
}

.recipe-ingredients{
    text-align: center;
    border-bottom: 1px solid black;
}

.recipe-how-to-do{
    text-align: center;
}

.recipe-img{
    width:100%;
}