.recipe-caption{
    position: absolute;
    margin-top: 140px;
    width: 60%;
    height: 70px;
    margin-left: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/pomidor.jpg);
    padding: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
    border: solid 2px black;
    box-shadow: 17px 14px 32px #000000;
    text-align: center;
}
/*œredni telefon lub IPad*/
@media only screen and (max-width: 760px) {
    .recipe-caption{ 
        width: 90%;
        margin-left: 5%;
        
    }
}

.recipe-caption-p{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: black;
}

/*œredni telefon lub IPad*/
@media only screen and (max-width: 760px) {
    .recipe-caption-p{ 
       font-size: 12px;
        
    }
}

.recipe-container{
    position: absolute;
    margin-top: 190px;;
    width: 60%;
    margin-left: 25%;
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 6px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    border: solid 2px black;
    box-shadow: 17px 14px 32px #000000;
    min-height: 200px;
}

/*œredni telefon lub IPad*/
@media only screen and (max-width: 760px) {
    .recipe-container{ 
        width: 90%;
        margin-left: 5%;
        
    }
}

.recipe-making{
    width: 60%;
    float: right;
    margin:0;
    padding: 3px;
}

.recipe-photo{
    width: 40%;
    margin:0;
    padding: 1px;
}

.recipe-ingredients{
    text-align: center;
    border-bottom: 1px solid black;
}

.recipe-how-to-do{
    text-align: center;
}

.recipe-img{
    width:100%;
}