.slider{
    position: absolute;
    margin-top: 150px;
    width: 70%;
    margin-left: 20%;
    border: black 3px solid;
    padding: 0;
    background-color: rgba(255, 229, 215, 0.9);
    box-shadow: 4px 4px 10px;
}

.slide{
   position: relative;
   width: 100%;
   height: 80%;
   float: none;
       
}

.slide-img{
    height: 100%;
    width: 65%;
    float: left;
}

.slide-img-bg{
    width: 100%;
}

.slide-caption{
    width: 35%;
    height: 100%;
    float: right;
    text-align: center;
    padding: 10px;
    background-color: rgba(147, 115, 87, 0.6);
}

.miniatures{
    position:relative;
    width:100%;
    height: 20%;
    margin:0;
    padding:5px;
    float: none;
}

.previous{
    float: left;
}

.next{
    float:right;
}
